[submodule "externals/django_compressor"]
	path = externals/django_compressor
	url = git://github.com/mintchaos/django_compressor.git
[submodule "externals/django-dajaxice"]
	path = externals/django-dajaxice
	url = git://github.com/jorgebastida/django-dajaxice.git
[submodule "externals/django-dajax"]
	path = externals/django-dajax
	url = git://github.com/jorgebastida/django-dajax.git
