body {
    background-color: black;
    color: white;
}

#matrix-table td, #matrix-table tr {
    padding: 0px;
    margin: 0px;
}

#matrix-table div {
    width: 15px;
    height: 18px;
    padding: 0px;
    margin: 5px;
}

#slider {
    margin: 10px;
    display: inline-block;
    width: 400px;
    top: 5px;
}

#matrix-table {
    margin: 0px;
    border: solid 1px #333;
}

img.icon {
    max-width: 24px;
}

#editor-controls img {
    vertical-align: middle;
}

#footer {
    font-size: xx-small;
    color: #333
}

.button {
    padding: 1px 3px;
    margin: 0px 2px;
    border: solid 1px #333;    
}

#player-controls {
    padding-bottom: 10px;
}

#editor-container {
    float: left;
    border: solid 1px #333;
    padding: 5px 5px 0px 5px;
    margin: 0px;
}

#color-picker-container {
    position: relative;
    left: -4px;
    top: -4px;
    float: left;
    margin: 0px -3px -3px 0px;
}

#editor-controls-container {
    float: left;
    width: auto;
}

.boxxy {
    border: solid 1px #333;
    background-color: #111111;
    padding: 5px;
    margin: 0px 0px 5px 0px;
}

#acabed-container {
    padding-left: 4px;
}
