<div id="acabed-container">
  <div id="toolbar">
    <div id="file-toolbar" class="container"></div>
    <div id="port-toolbar" class="container"></div>
  </div>
  <div style="clear: both;"></div>
  <div id="left" class="container">
    <div id="pixel-tools"></div>
    <hr />
    <div id="frame-tools"></div>
    <hr />
    <div id="color">
      <div id="color-tools"></div>
      <hr />
      <div id="colorpalette-tools"></div>
    </div>
  </div>
  <div id="middle" class="container">
      <div id="matrix-container">
        <table id="matrix-table" cellspacing="0"></table>
        <div id="player-controls"></div>
      </div>
  </div>
  <div id="right" class="container"></div>
</div>
