<div id="acabed-container">
    <div id="toolbar">
        <div id="file-toolbar" class="container"></div>
        <div id="port-toolbar" class="container"></div>
    </div>
    <div style="clear: both;"></div>

    <div id="left" class="container">
        <div id="pixel-tools"></div>
        <hr />
        <div id="tool-options"></div>
        <hr />
        <div id="frame-tools"></div>
        <hr />
        <div id="color">
            <div id="color-tools"></div>
            <hr />
            <div id="colorpalette-tools"></div>
            <hr />
            <div id="current-color"></div>
        </div>
    </div>

    <div id="middle" class="container">
        <div id="matrix-container" style="position: relative;">
            <canvas id="canvas1" width="600" height="361"></canvas>
            <map name="windowsmap">
            {% include "windows_map.html" %}
            </map>
            <img src="/assets/images/spacer.gif" id="windowseventlayer" style="width: 600px; height: 361px; position: absolute; top: 0px; left: 0px; border: none;" usemap="#windowsmap" />

			<table id="matrix-table" cellspacing="0"></table>
            <div id="player-controls"></div>
        </div>
		
		{% csrf_token %}
    </div>

    <div id="right" class="container"></div>
</div>
