<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>acabed</title>

    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/acabed.css" />
    {% endcompress %}

    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}

    <script type="text/javascript" src="{{ MEDIA_URL }}/mootools.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/mootools-more.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/mootools.dajax.core.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}/model.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/acabed.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/widgets.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/settable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/editor.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/controls.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/color.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/movie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/movie_player.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/matrix_table.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/frame.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/login.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/object_inspector.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/dialog.js"></script>

    <!-- colorpicker -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/moopick.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/palette.js"></script>
    {% endcompress %}
  </head>
  <body>
    <img src="{{ MEDIA_URL }}/icons/acabed-logo.png">

    <div id="login-widget"></div>

    <div id="content"></div>

    <div style="clear: both;"></div>
    <div id="footer">
        <a href="http://acab.muc.ccc.de">Projekt AllColorsAreBeautiful</a> |
        <a href="http://muc.ccc.de">CCC M&uuml;nchen</a> |
        Icons: <a href="http://p.yusukekamiyamane.com">Fugue by Yusuke Kamiyamane</a>
    </div>
  </body>
</html>
