<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>acabed</title>

    <script type="text/javascript" src="jquery.js"></script>

    <!-- editor -->
    <link rel="stylesheet" type="text/css" href="editor.css" />
    <script type="text/javascript" src="editor.js"></script>
    <script type="text/javascript" src="controls.js"></script>
    <script type="text/javascript" src="color.js"></script>
    <script type="text/javascript" src="movie.js"></script>
    <script type="text/javascript" src="movie_player.js"></script>
    <script type="text/javascript" src="matrix_table.js"></script>
    <script type="text/javascript" src="frame.js"></script>

    <!-- colorpicker -->
    <link rel="stylesheet" href="colorpicker/css/colorpicker.css" type="text/css" />
    <script type="text/javascript" src="colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript" src="colorpicker/js/eye.js"></script>
    <script type="text/javascript" src="colorpicker/js/utils.js"></script>
    <script type="text/javascript" src="colorpicker/js/layout.js?ver=1.0.2"></script>

    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="jquery-ui/css/ui-darkness/jquery-ui-1.8.1.custom.css" />
    <script type="text/javascript" src="jquery-ui/jquery-ui-1.8.custom.min.js"></script>
  </head>
  <body>
    <img src="icons/acabed-logo.png" />

    <div id="matrix-container" class="widget">
      <table id="matrix-table" cellspacing="0"></table>
      <div id="player-controls"></div>
    </div>
    <div id="editor-container" class="widget">
      <div id="editor-controls-container" class="controls-container">
        <div id="editor-controls"></div>
      </div>
      <div id="color-picker-container">
        <div id="color-picker"></div>
      </div>
    </div>
    <div style="clear: both;" />

    <div id="file-controls" class="widget controls-container"></div>
    <div style="clear: both;" />

    <div id="footer">Project All Colors are Beautifull</div>
  </body>
</html>
