<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>acabed</title>
    <script type="text/javascript" src="/assets/mootools.js"></script>

    <!-- editor -->
    <link rel="stylesheet" type="text/css" href="/assets/editor.css" />
    <script type="text/javascript" src="/assets/editor.js"></script>
    <script type="text/javascript" src="/assets/controls.js"></script>
    <script type="text/javascript" src="/assets/color.js"></script>
    <script type="text/javascript" src="/assets/movie.js"></script>
    <script type="text/javascript" src="/assets/movie_player.js"></script>
    <script type="text/javascript" src="/assets/matrix_table.js"></script>
    <script type="text/javascript" src="/assets/frame.js"></script>

    <!-- colorpicker -->
    <script type="text/javascript" src="/assets/moopick.js"></script>
  </head>
  <body>
    <img src="/assets/icons/acabed-logo.png" />

    <div id="acabed-container">
      <div id="matrix-container">
        <table id="matrix-table" cellspacing="0"></table>
        <div id="player-controls"></div>
      </div>

      <div id="editor-container">
        <div id="color-picker-container">
          <div id="color-picker"></div>
        </div>
        <div id="editor-controls-container" class="boxxy">
          <div id="editor-controls"></div>
        </div>
        <div style="clear: both;"></div>

        <div id="file-controls" class="boxxy"></div>

        <div id="movie-list" class="boxxy"></div>
        <div id="movie-info" class="boxxy"></div>
      </div>
    <div style="clear: both;"></div>
    <div id="footer">Project AllColorsAreBeautiful</div>
    </div>
  </body>
</html>
