{% extends "index.html" %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}pixel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jscolor.js"></script>
{% endblock %}

{% block startjs %}
init_pixel();
{% endblock %}

{% block content %}
<div id="left" class="pixel-edit-container">
<div id="donorform">
  <form enctype="multipart/form-data" method="post">
    {% for field in form %}
      <fieldset class="fieldWrapper" id="container-{{ field.name }}">
      <legend>{{ field.label_tag }}</legend>
      {% if field.errors %}{{ field.errors }}<br />{% endif %}
      {{ field }}
      </fieldset>
    {% endfor %}
    <input type="submit" value="Submit" />
    {% csrf_token %}
  </form>
</div>
</div>
<div id="middle" class="container">
<div id="colorpicker-container" class="container">
  <input type="input" class="color {valueElement:'id_color'}" id="pixcolor" background-color="{{ pixel.color }}" readonly value="">
</div>
<div id="help-container" class="container">
  W&auml;hle bitte Farbe, Name und Nachricht<br /> deines Pixels. Die Felder Website und<br />Bild sind optional. W&auml;hlst Du das<br /> H&auml;ckchen bei "Anonym" werden wir<br />keine Daten &uuml;ber deinen Pixel<br />bekannt geben.
</div>
</div>
<div id="right" class="container">
{% if pixel.picture %}
<fieldset>
<legend>Bild</legend>
<span><img id="donorpic" src="{{ pixel.picture.url }}" class="pixelpic"></span>
</fieldset>
{% else %}
<span><img id="donorpic" src="{{ MEDIA_URL }}/images/anon.jpg" class="pixelpic"></span>
{% endif %}
</div>
{% endblock %}
