<div id="left" class="container">
<fieldset id="donordetails" class="container">
  <legend><img src="{{ MEDIA_URL }}icons/heart.png"> Pixelpate</legend>
  <b>{{ user.username }}</b><br />
  <a href="mailto:{{ user.email }}">{{ user.email }}</a><br />
</fieldset>
</div>
<div id="middle" class="container" style="float: left;">
<div class="container" id="help">
  <p>Klicke auf das Stift-Symbol um den gew&uuml;nschten Pixel zu bearbeiten.</p>
</div>
<div id="pixel-container">
{% for p in pixel %}
<div id="{{ p.id }}-outer-div">
<fieldset class="container" id="{{ p.id }}-outer">
  <legend><b>{{ p.pixel }}</b></legend>
  <div style="float: right; font-weight: bold; background-color:#{{ p.color }}; " class="container">
    {{ p.name }}
  </div>
  <div class="container pixelbuttons" id="{{ p.id }}-buttons">
    <a href="/acab/pixel/{{ p.pixel }}/edit" class="button imagebutton" id="{{ p.id }}-edit" style="background-image: url({{ MEDIA_URL }}icons/pencil.png)" alt="Pixel editieren"></a>
    <a href="#" onClick="Dajaxice.acab.pixel_show('Dajax.process', { pixel: '{{ p.pixel }}' })" class="button imagebutton" id="{{ p.id }}-show" style="background-image: url({{ MEDIA_URL }}icons/magnifier-left.png)"></a>
    <a href="{{ p.url }}" class="button imagebutton" id="{{ p.id }}-homepage" style="background-image: url({{ MEDIA_URL }}icons/application-home.png)"></a>
  </div>
</fieldset>
</div>
{% endfor %}
</div>
</div>
<div id="right" class="container">
<fieldset class="container">
  <legend>Legende</legend>
  <img src="{{ MEDIA_URL }}icons/pencil.png"> <b>Editieren</b><br />
  <img src="{{ MEDIA_URL }}icons/magnifier-left.png"> <b>Anzeigen</b><br />
  <img src="{{ MEDIA_URL }}icons/application-home.png"> <b>Website</b><br />
</fieldset>
</div>
