<div id="ppcontent">
<div id="ppwrapper">
{% spaceless %}
{% for row in rows %}
  <ul id="row{% cycle 'A' 'B' 'C' 'D' %}" class="row">
{% for p in row %}
    <li id="{{ p.pixel }}" class="p_bkd{% if forloop.counter|divisibleby:"2"  %} lmrg{% endif %}{% if forloop.counter > 12 %} rs{% endif %}">
          <a href="{{ p.url|default:'#h' }}"{% if not p.url %} class='no' onclick="return false"{% endif %} style="background-color:#{{ p.color }}" target="_blank">
        {% if p.pixel %}
          <span class="wrapper"><span class="name">{% if p.picture %}<img src="{{ p.picture }}" />{% endif %}{{ p.name }}</span>
              <span class="message">{{ p.message }}</span></span>
        {% endif %}
      </a>
    </li>
{% endfor %}
  </ul>
{% endfor %}
{% endspaceless %}
</div> 
</div> 
